---
import {relAssetToUrl} from '@/libs/assets.js'
import ImageDirective from '../image/optimized/ImageDirective.astro';
import ButtonDirective from './ButtonDirective.astro'

export interface Props {
    node: object;
    dirpath: string;
}

const { node, dirpath} = Astro.props as Props;

const is_image = (node.name == "image")
const is_button = (node.name == "button")
const is_other = !(is_image || is_button)

let asseturl = ""
if(is_image){
  asseturl = await relAssetToUrl(node.attributes.src, dirpath)
}
if(is_button){
  console.log(node)
}
---
{is_image &&
  <ImageDirective src={asseturl} node={node} />
}
{is_button &&
  <ButtonDirective label={node.attributes.label} link={node.attributes.link} />
}
{is_other &&
  <div>{node.name}
    {Object.keys(node.attributes).map((key)=>(<span>{key} = {node.attributes[key]}</span>))}
  </div>
}
