---
//to use Optimized Images, do the following :
// - uncomment import line with OptimizedImageDirective.astro
// - set config.copy_assets = true
// - set assets_hash_dir = true

import ImageDirective from './ImageDirective.astro';
//import ImageDirective from './OptimizedImageDirective.astro';
import ButtonDirective from './ButtonDirective.astro'

export interface Props {
    node: object;
    dirpath: string;
}

const { node, dirpath} = Astro.props as Props;

const is_image = (node.name == "image")
const is_button = (node.name == "button")
const is_other = !(is_image || is_button)

if(is_button){
  console.log(node)
}
---
{is_image &&
  <ImageDirective node={node} dirpath={dirpath}/>
}
{is_button &&
  <ButtonDirective label={node.attributes.label} link={node.attributes.link} />
}
{is_other &&
  <div>{node.name}
    {Object.keys(node.attributes).map((key)=>(<span>{key} = {node.attributes[key]}</span>))}
  </div>
}
