---
import {getEntry} from 'content-structure'
import CardMeta from './CardsMeta.astro'
import AstroMarkdown from '@/components/markdown/AstroMarkdown.astro'
import yaml from 'js-yaml'

export interface Props {
  code: string;
  dirpath: string;
}

const { code, dirpath } = Astro.props as Props;

const cards = yaml.load(code)

console.log("----------------- cards ------------------")
const promises = cards.map(entry => getEntry({ uid: entry.uid }));
const entries = await Promise.all(promises);
---
<div class="cards container">
    {
        entries.map((entry,index)=>(
            <div class="card">
                <CardMeta data={entry.data} dirpath={dirpath} />
                {cards[index].body&&
                    <AstroMarkdown node={entry.tree} data={entry.data} />
                }
            </div>
        ))
    }
</div>

<style>
.title{
    width:100%;
    text-align:center;
    
}
.cards.container{
    padding-top: 10px;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.card{
    background-color: #222;
    box-shadow: 2px 2px 3px 3px #333;
    border-radius:10px;
    width:15rem;
    padding:10px;
}

</style>
