---
//https://ellodave.dev/blog/article/using-svgs-as-astro-components-and-inline-css/
import PanZoomModal from './panzoommodal.astro'
import SvgIcons from '@/components/svgicons.astro'
import { get_map } from '@/libs/tags_map';
export interface Props {
  'data-url': string;
}

const { 'data-url':asseturl } = Astro.props as Props;
let assetname = ""
if(asseturl.includes(".mdx.")){
  assetname = asseturl.split(".mdx.")[1]
}else{
  assetname = asseturl.substring(asseturl.lastIndexOf('/') + 1)
}
console.log(` * panzoom : '${asseturl}'`)

const isSvg = asseturl.endsWith(".svg")
const isImg = !isSvg
const url_map = get_map(asseturl)
---
<div class="container panzoom" data-type={isSvg?"svg":"img"} data-name={assetname} data-url-map={url_map}>
  <div class="header open">
    <SvgIcons filename="full-screen"/>
  </div>
  <div class="figure">
    {isSvg&&
      <object data={asseturl} />
    }
    {isImg&&
      <img src={asseturl} />
    }
  </div>
  <PanZoomModal url={asseturl} />
</div>

<style >
.container{
  background: white;
  border-radius: 5px;
  display:flex;
  
  justify-content: flex-start;
  gap:0px;
  flex-direction: column;
  align-items: flex-start;
  padding:5px;
  box-shadow: 4px 2px 8px 4px rgba(81, 81, 81, 0.5);
  width:fit-content;
}
.header{
  display:flex;
  flex-direction: row;
  justify-content: center;
  background:white;
  align-items: stretch;
  width:98%;/* not clear why right side padding is ignored */
  padding: 2px;
  border-radius: 5px;
}
.header:hover{
  background:#ddd;
  cursor: pointer;
}

.figure{
  display: flex;
}

object{
  max-width: 100%;
}
</style>

<style is:inline>
  .header > svg{
  height: 16px;
  width: 16px;
  margin:0px;
  padding:2px;
  fill:#aaa;
}
.header:hover > svg{
  fill:rgb(56, 56, 56);
}

</style>

<script src="./panzoom.js" />

