---
import './colors.css';
import menu from "@/menu.json"
import { active_page } from "../../integrations/nav_menu/menu_utils";
import Icon from "@/components/icon.astro"

const pageUrl = Astro.url.pathname
const active_page_index = active_page(pageUrl,menu)
menu.forEach((item,index)=>{
    item.active_class = (index == active_page_index)?"active":""
})

---
<div class="navbar">
    <ul class="navbar-left">
            {menu.filter(item=>!(item.align=="right")).map((item)=>(
            <li><a href={item.href} class={item.active_class}>{item.text}
                {item.icon && <Icon filename={item.icon} />}
                </a></li>
            ))}
    </ul>
    <ul class="navbar-right">
        {menu.filter(item=>item.align=="right").map((item)=>(
            <li>
                <a href={item.href} target={item.href.startsWith('/')?"":"_blank"}>
                    <Icon filename={item.icon} />
                    </a>
                    </li>
                    ))}
    </ul>
</div>

<style>
.navbar{
    display:flex;
    justify-content: space-between;
    min-width: 400px;
}
.navbar-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar-right {
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    margin:0px;
}
li{
    list-style: none;
}

a{
    float:left;
    font-size: 17px;
    padding: 14px 16px;
    text-align:center;
    color: var(--content-color);
	text-decoration: none;

}
a:hover{
    background-color: var(--header-active-color);
}
a.active{
    border:0px;
    border-bottom:  3px solid rgb(88, 88, 88);
    background-color: var(--header-active-color);
}

.navbar-right > li > a{
    float:right;
    padding: 6px;
}
</style>