---
import menu from "../config/menu.json"
import { active_page,active_subpage } from "../components/utils";
import Arrows from '../icons/arrows.astro';

const active_page_index = active_page(Astro.url,menu)
const visible = ("items" in menu[active_page_index])
let submenu = visible?menu[active_page_index].items:[]
const active_subpage_index = active_subpage(Astro.url,submenu)
submenu.forEach((item,index)=>{
    item.active_class = (index == active_subpage_index)?"active":""
})
//console.log(`submenu : (${visible}) active_subpage_index (${active_subpage_index})`)
---
{visible &&
    <nav data-width="15vw" data-state="open">
        {submenu.map((item)=>(
                <a href={item.href} class={item.active_class}>{item.text}</a>
        ))}
    </nav>
}
<style>
nav{
    background: #555;
    display:flex;
    flex-direction: column;
    overflow:auto;
    transition: width 0.5s;
    width:15vw;
}
a{
    text-decoration: none;
    user-select: none;
    padding:10px;
    color:white;
    min-width: 130px;
}
a:hover{
    color:black;
    background-color: #ddd;
}
a.active{
    color:white;
    background-color: #06ad70;
}

</style>
