---
import menu from "../config/menu.json"
import { active_page,active_subpage } from "../components/utils";

const active_page_index = active_page(Astro.url,menu)
const visible = ("items" in menu[active_page_index])
let submenu = visible?menu[active_page_index].items:[]
const active_subpage_index = active_subpage(Astro.url,submenu)
submenu.forEach((item,index)=>{
    item.active_class = (index == active_subpage_index)?"active":""
})
//console.log(`submenu : (${visible}) active_subpage_index (${active_subpage_index})`)
---
{visible &&
    <nav class="leftnav">
        <ul>
            {submenu.map((item)=>(
                <li>
                    <a href={item.href} class={item.active_class}>{item.text}</a>
                </li>
            ))}
        </ul>
    </nav>
}
<style>
.leftnav{
    position:fixed;
    top:50px;
    float:left;
    color: white;
    padding:10px;
    min-width: 10%;
    height:100vh;
    overflow:auto;
    background: #555;
}
.leftnav ul{
    list-style-type: none;
    padding: 0;
}
a:hover{
    color:black;
    background-color: #ddd;
}
a.active{
    color:white;
    background-color: #06ad70;
}
</style>
